body {
    background-color: rgb(71, 151, 180);
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between; /* Align containers to left and right */
    margin: 20px 8rem; /* Adjust margin as needed */
}

.image {
    display: inline-block; /* Allows the image and button to sit side by side. */
    text-align: center; /* Center the button horizontally within the container. */
    margin: 20px 8rem;
}

.Hotdog { /* Use class ".Hotdog" to style the Hotdog container */
    text-align: right; 
}

.Sloppyjoe { /* Use class ".Sloppyjoe" to style the Sloppyjoe container */
    text-align: left;
}

.Beerfish { /* Use class ".Sloppyjoe" to style the Sloppyjoe container */
    text-align: left;
}

.Cantoeggs { /* Use class ".Sloppyjoe" to style the Sloppyjoe container */
    text-align: right;
}

.Udon { /* Use class ".Sloppyjoe" to style the Sloppyjoe container */
    text-align: center;
    margin-top: 15rem;
}
.Scotcheggs {
    text-align: center; 
    margin-top: 15rem; 
}

.Friedrice {
    text-align: center; 
    margin-top: 15rem; 
}

img {
    width: 180px;
}

button {
    display: block; /* Make the button a block-level element. */
    margin: 0 auto; /* Center the button text within the button. */
}

span.day {
    display: flex;
    margin-left: 4rem;
}