body {
    font-family: 'Agbalumo', sans-serif;
    background-color: rgb(33, 154, 198);
    text-align: center;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #94daf3;
    font-size: 2.5rem;
    margin: 10px auto;
    width: fit-content;
    padding: 10px 15px;
    border-radius: 7.5px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.recipe {
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    padding: 15px;
    border-radius: 10px;
    width: 200px;
}

img {
    width: 100%;
    max-width: 180px;
    height: auto;
    border-radius: 8px;
}

button {
    display: block;
    width: 100%;
    margin-top: 10px;
    border: none;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    transition: 0.2s;
    font-family: 'Norican', cursive;
    font-size: 16px;
    padding: 8px;
    color: #000000a7;
}

button:hover {
    box-shadow: 0 0 0 4px rgb(33, 154, 198), 0 0 0 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

span.day {
    display: block;
    color: #d8eff7d4;
    font-size: 1.5rem;
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    h1, h2 {
        font-size: 2rem;
    }

    .recipe {
        width: 90%;
    }
}
